data/dataset_parking/dataset_car_truck/images/

*.pt
*.pth
*.weights
yolov8n.pt

runs/
*.cache
**/*.cache
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
